$hl: (
    text: #333b46,
    back: #f2f2fa,
    number: #007698,
    string: #e77636,
    title: #e14a0c,
    type: #007698,
    tag: #22a4c9,
    link: #aaad00,
    symbol: #e83134,
    builtin: #22a4c9,
    deletion: #fcebec,
    addition: #e5e4d1,
    comment: #9797a7
);