.logo {
    .circle {
      width: 50px;
      height: 50px;
      background-color: #7F2121;
      border-radius: 50%;
      text-align: center;
      margin-top: 5px;
      .text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
      }
    }
  }

.profile {
    .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }
    
    .nav-tabs {
        margin-bottom: 0;
    }
}

.dataTables_wrapper{
    .dataTables_paginate {
        .paginate_button.current {
            background: #2196f3;
        }
        .paginate_button.current:hover {
            background: #2196f3;
        }           
    }
}

.form-button-delete,
.form-button-delete:hover {
    text-decoration: none;
}

.form-a-link {
    font-size: .7em;
}


input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

.btn, 
.btn:hover,
.btn:active,
.btn:active:focus,
.btn:visited,
.btn:focus,
.btn-primary, 
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:visited,
.btn-primary:focus,
button, 
button:hover,
button:active,
button:active:focus,
button:visited,
button:focus {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

legend {
    font-size: 1em;
}


