.guest-header {
    .top-left {
        position: absolute;
        left: 10px;
        top: 18px;
    }
    .btn {
        color: #636b6f;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }    
}
